<div class="container-full" data-ng-controller="licenseQueryController">
	<div class="row m0 p0 Form_bg">
		<div class="col-lg-2 col-md-2 col-sm1"></div>
		<div class="col-lg-8 col-md-8 col-sm10 P15">
			<div>
				<nav aria-label="breadcrumb">
					<ol class="breadcrumb">
						<li class="breadcrumb-item">首頁</li>
						<li class="breadcrumb-item active" aria-current="page">列管工廠資料公開</li>
					</ol>
				</nav>
				<div id="lq" class=" From_area">
					<div class="row col-md-11 col-sm-10 m0">
						<div class="col-md-12">
							<div class="col-md-4 col-sm-4 col-xs-6">
								縣市： 
								<select data-ng-change="changeCity(cityCode)"
									data-ng-options="item.value as item.label for item in cityList"
									data-ng-model="cityCode">
									<option value="">請選擇縣市</option>
								</select>
							</div>
							<div class="col-md-4 col-sm-4 col-xs-6">
								鄉鎮： 
								<select ng-options="item.value as item.label for item in townList"
									data-ng-model="townCode">
									<option value="">請選擇鄉鎮</option>
								</select>
							</div>
							<div class="col-md-4 col-sm-4">工業區：
			                  <select ng-options="item.value as item.label for item in indparkList"
									data-ng-model="indParkCode">
									<option value="">請選擇工業區</option>
								</select>
			                </div>
						</div>
						<div class="col-md-12">
							<div class="col-md-5 col-sm-12 MBO">工廠：
			                  <input type="text" data-ng-model="factoryName" placeholder="(輸入管編或廠名)">
			                </div>
							<div class="col-md-7 col-sm-12 MBO">資料別：
			                  <input type="checkbox" id="scales" name="feature" data-ng-model="licence">
			                  <label for="scales">許可</label>
			                  <input type="checkbox" id="scales" name="feature" data-ng-model="detection">
			                  <label for="scales">檢測</label>
			                  <input type="checkbox" id="scales" name="feature" data-ng-model="approve">
			                  <label for="scales">認可</label>
			                  <input type="checkbox" id="scales" name="feature" data-ng-model="declaration">
			                  <label for="scales">申報</label>
<!-- 			                  <input type="checkbox" id="scales" name="feature" data-ng-model="isApplication"> -->
<!-- 			                  <label for="scales">申請</label> -->
			                  <input type="checkbox" id="scales" name="feature" data-ng-model="monitoring">
			                  <label for="scales">監測</label>
			                  <input type="checkbox" id="scales" name="feature" data-ng-model="penalty">
			                  <label for="scales">處分</label>
			                  <input type="checkbox" id="scales" name="feature" data-ng-model="commissioning">
			                  <label for="scales">復工</label>
			                </div>
						</div>
					</div>

				</div>
			</div>
			<div class="row col-md-1 col-sm-2 col-xs-12 text-center">
				<button class=" Orang_btn btn btn-lg" data-ng-click="clickQuery()">查詢</button>
			</div>
			<br class="Clear">
		</div>
	</div>

	<div class="col-lg-2 col-md-2 col-sm-1"></div>
	<br class="Clear">
	<div class="row m0 p0">
		<div class="col-lg-2 col-md-2 col-sm1"></div>
		<div class="col-lg-8 col-md-8 col-sm10 Prl license_table">
			<table class="table table-striped table-bordered table-rwd">
				<tbody>
					<tr class="tr-only-hide" data-ng-hide="dataList == undefined">
						<th data-ng-click="sort('CityCode')" class="t01"><i data-ng-class="label['CityCode'].style"></i>縣市</th>
						<th data-ng-click="sort('FacNo')" class="t02"><i data-ng-class="label['FacNo'].style"></i>管編</th>
						<th data-ng-click="sort('FacName')" class="t03"><i data-ng-class="label['FacName'].style"></i>廠名</th>
						<th data-ng-click="sort('FacAddr')" class="t04"><i data-ng-class="label['FacAddr'].style"></i>廠址</th>
						<th data-ng-click="sort('IndParkName')" class="t05"><i data-ng-class="label['IndParkName'].style"></i>工業區名稱</th>
						<th class="t06"></th>
					</tr>
					<tr data-ng-repeat="item in dataList track by $index">
						<td data-th="縣市">{{item.cityName}}</td>
						<td data-th="管編">{{item.facNo}}</td>
						<td data-th="廠名">{{item.facName}}</td>
						<td data-th="廠址">{{item.facAddress}}</td>
						<td data-th="工業區名稱">{{item.indparkName}}</td> 
						<td data-th="項目" class="BBN">
							<button class="Gray_btn btn btn-sm" data-ng-show="item.licence" data-ng-click="clickView(item.facNo, 1)" >許可</button>
							<button class="Gray_btn btn btn-sm" data-ng-show="item.detection" data-ng-click="clickView(item.facNo, 3)" >檢測</button>
							<button class="Gray_btn btn btn-sm" data-ng-show="item.approve" data-ng-click="clickView(item.facNo, 4)" >認可</button>
							<button class="Gray_btn btn btn-sm" data-ng-show="item.declaration" data-ng-click="clickView(item.facNo, 5)" >申報</button>
							<button class="Gray_btn btn btn-sm" data-ng-show="item.monitoring" data-ng-click="clickView(item.facNo, 6)" >監測</button>
							<button class="Gray_btn btn btn-sm" data-ng-show="item.penalty" data-ng-click="clickView(item.facNo, 7)" >處分</button>
							<button class="Gray_btn btn btn-sm" data-ng-show="item.commissioning" data-ng-click="clickView(item.facNo, 8)" >復工</button>
							<span data-ng-show="(item.licence==false && item.detection==false && item.approve==false 
							&& item.declaration==false && item.monitoring==false && item.penalty==false && item.commissioning==false)">&nbsp</span>
						</td>
					</tr>
					
				</tbody>
			</table>
			<div data-ng-hide="(dataList == undefined || dataList.length > 0 )" class="No_Con">
				<span class="fas fa-info-circle fa-2x"></span>無資料
			</div>
			<nav aria-label="" class="text-center" data-ng-show="dataList.length > 0">
	          <ul class="pagination justify-content-center pagination-sm">
	            <li class="{{currentPage == 1?'page-item disabled':'page-item';}}">
	              <a class="page-link" href="" data-ng-click="prev()">上一頁</a>
	            </li>
	            <li class="{{currentPage == page?'page-item active':'page-item';}}" data-ng-repeat="page in pageList track by $index"  >
	              <a class="page-link" href="" data-ng-click="pageClick(page)">{{page}}</a>
	            </li>
	            <li class="{{currentPage == pageMax?'page-item disabled':'page-item';}}">
	              <a class="page-link" href="" data-ng-click="next()">下一頁</a>
	            </li>
	          </ul>
	        </nav>
			<div class="Note">
				<p>說明</p>
				<ul>
		            <li>許可：包括設置、操作及燃料使用許可申請及核可相關資料</li>
					<li>檢測：包括定期檢測及試車檢測資料</li>
					<li>認可：污染物排放量認可文件</li>
					<li>申報：包括申報排放量及生煤申報資料</li>
					<li>監測：提供CEMS煙道每日量測值</li>
					<li>處分："空污"或"營建"之公私場所處分記錄</li>
					<li>復工：申請試車復工中</li>
		          </ul>
			</div>
		</div>
		<div class="col-lg-2 col-md-2 col-sm-1"></div>
	</div>

</div>